modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/pixocraft run dev"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 23261
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
HASH_SURAJ = "ddd4d201fa68575af7ce5f6bcb5e71ac1c163dddf665deb1f051f230bd382457"
HASH_VIVEK = "244b12b2a7b2c24547c2d4bcc016df085b7b17f73a91e4a2ed8f79fc5af5f682"
JWT_SECRET = "ef4e5991abf5cd34f73ae51968300cba50ed0a7f873198f3ad2fc86565a1359d5709b04c4842bbab8739698de4f0939d"
AUTH_PEPPER = "pixocraft-secret-2026"
